
/* @tailwind base;
@tailwind components; */

.content{
    place-content: center;
}

.item .activeIcon{
    display: none;
}

.item.active .inactiveIcon{
    display: none;
}

.item.active .activeIcon{
    display: block;
}

.item:not(.active) .content{
    /* display:  h-0 overflow-hidden py-0; */
    height: 0;
    overflow: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
}

.item .content{
    padding-left: 2rem;
    padding-right: 2rem;
    height: 400px;

}